* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: black;
  color: greenyellow;
}

.conter-sms {
  padding: 5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.box-sms {
  background-color: gray;
  margin: 0 auto;
  width: 50%;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-weight: 600;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.conter-sms-respo {
  display: block;
  position: relative;
}

.conter-sms-respo div {
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  width: 50%;
  color: black;
}
.btn {
  padding: 5px;
  border-radius: 5px;
  background: greenyellow;
  color: rgba(56, 59, 52, 0.637);
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.check-text {
  width: 100%;
  padding: 5px;
  border: none;
}
