* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: black;
  color: rgb(130, 179, 57);
  background-image: url("https://i.pinimg.com/originals/38/1c/63/381c630b05c0e00afe8f986acb8658b6.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.conter-sms {
  padding: 5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.box-sms {
  background-color: #0000006e;
  margin: 0 auto;
  width: 50%;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-weight: 600;
  margin: 5px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.conter-sms-respo {
  display: block;
  position: relative;
}

.conter-sms-respo div {
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  width: 50%;
  color: black;
}
.btn {
  padding: 5px;
  border-radius: 5px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.check-text {
  width: 100%;
  padding: 5px;
  border: none;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conter-sms-respo {
  width: 80%;
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.message.self {
  align-self: flex-end;
  background-color: #e0ffe0;
}

.message.other {
  align-self: flex-start;
  background-color: #f0f0f0;
}

.check-text {
  width: 100%;
  padding: 10px;
  margin-right: 5px;
}

.btn {
  padding: 10px 20px;
  background-color: #ff0000ad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: red;
}
