* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #00ff00;
}

body {
  background: black;
  /*   background-image: url("https://i.pinimg.com/originals/55/e4/57/55e457846f295a4a9acb25253e197e6e.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.conter-sms {
  padding: 5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.box-sms {
  background-color: #0000006e;
  width: 50%;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-weight: 600;
  margin-top: 40px;
  font-size: 3em;
  color: #fff;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.btn {
  padding: 5px;
  border-radius: 5px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.check-text {
  width: 100%;
  padding: 5px;
  border: none;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conter-sms-respo {
  width: 80%;
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
  border: 1px solid #00ff00;
  padding: 10px;
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.message.self {
  align-self: flex-end;
  background-color: #e0ffe0;
}

.message.other {
  align-self: flex-start;
  background-color: #f0f0f0;
}

.check-text {
  width: 100%;
  padding: 6px;
  margin-right: 5px;
  border-radius: 5px;
  color: black;
}

.btn {
  padding: 6px 20px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #00ff00;
}

.btn:hover {
  background-color: #00ff0091;
}
